.App {
  text-align: center;
}

.posts {
  border: 1px solid black;
  width: 50%;
  margin: auto;
  text-decoration: none;
}

.each-post {
  border: 1px solid black;
  margin: auto;
  padding: 5px;
  text-decoration: none;
}

.post-content {
  text-decoration: none;
  color: black;
}